#opportunity {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  padding: 0.3rem;
  line-height: 2rem;
}

#opportunity:hover {
  background-color: #EBE9E9;
}
