#main {
  font-family: Marion;
  width: 45rem;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
  margin-top: 2rem;
}


#main h1 {
  font-size: 3rem;
  font-weight: normal;
}

#main p {
  font-size: 1.2rem;
}

p {
  margin: 0;
}
